<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>登录</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/loginstyle.css">

</head>
<body>

<div class="materialContainer">
    <form method="post" action="/login">
        {{ form.csrf_token() }}
        <div class="box">
            <div class="title">登录</div>
            <div class="input">
                <label for="name">用户名</label>
                <input type="text" name="name" id="name">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="passw">密码</label>
                <input type="password" name="passw" id="passw">
                <span class="spin"></span>
            </div>
            <div class="button login">
                <button>
                    <span>登录</span>
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </form>

</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/sweetalert2.js"></script>
{% if notice is defined %}
{% if notice==1 %}
<script type="text/javascript">
    Swal.fire("登录失败", "{{ text }}", "error");

</script>
{% endif %}
{% endif %}
</body>
</html>